body{
    font-family: Arial, sans-serif;
    margin:0%;
    padding: 0%;
    display: flex;
    flex-direction: column;
    min-height: 100%;
}

header{
    background-color: rgb(0, 0, 0);
    color: white;
    padding: 20px;
}

nav ul{
    list-style-type: 0px;
    margin:0px;
    padding-top: 12px;
    padding-bottom: 12px;
    padding-left: 0px;
    padding-right: 0px;
    background-color: rgb(162, 162, 162);
}

nav ul li{
    display: inline;
    padding-left: 16px;
    padding-right: 16px;
    padding-top: 12px;
    padding-bottom: 12px;
}

nav ul li a{
    text-decoration: none;
    color: rgb(255, 255, 255);
}

nav ul li:hover {
    background-color: #102020;
}

li.currentPage{
    background-color: #102020;
}

main{
    flex: 1;
    padding: 20px;
}

footer{
    background-color: rgb(0, 0, 0);
    color: white;
    padding: 20px;
    text-align: center;
    position: fixed;
    bottom: 0%;
    left: 0%;
    width: 100%;
}

form{
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.size-select{
    display: flex;
}

label{
    display: block;
}

input[type="text"], select {
    width: 200px;
    padding: 5px;
    margin-bottom: 15px;
}

input[type="radio"] {
    margin-left: 16px;
} 

input[type="submit"] {
    background-color: #102020;
    color: #FFFFFF;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    border: 0px;
    cursor: alias;
} 